<div class="error_message">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="form_content">
  <div class="login_sign_form">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label "名前", class: "mt-3 mb-3" %>
      <%= f.text_field :name,  placeholder: "名前", class: "form-control mb-3" %>
      <%= f.label "Email address", class: "mb-3" %>
      <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control mb-3"  %>
      <%= f.label "Password", class: "mb-3" %>
      <%= f.password_field :password, placeholder: "パスワード", class: "form-control mb-3" %>
      <%= f.label "Password確認", class: "mb-3" %>
      <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control" %>
      <div class="text-center">
        <%= f.submit "アカウントを作成する", class: "btn btn-primary mt-3 text-center" %>
      </div>
    <% end %>
    <div class="text-center border-top border-light mt-3">
      <%= link_to "既存のアカウントでログイン", new_session_path, class: "btn btn-success mt-3"%>
    </div>
  </div>
</div>
