<div class="content">
  <h1><%= @user.name %>の投稿</h1>
  <div class="card-columns">
    <% @user.posts.each do |post| %>
    <div class="card mb-3" style="width: 20rem;">
      <div class="card-body">
        <p class="card-text">
        投稿者:<%= @user.name %>:<%= post.created_at %><br>
        <%= post.content %></p>
        <div class="">
          <%= link_to "detail", post_path(post.id), class: "card-link" %>
          <%= link_to "edit", post_path(post.id), class: "card-link" %>
          <%= link_to 'destroy', post_path(post.id), class: "card-link",method: :delete ,data: { confirm: '削除してよろしいですか？' } %>
        </div>
      </div>
      <% if post.picture? %>
        <%= image_tag post.picture.url, class: "card-img-bottom" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
